<ds-expansion-panel [expanded]="expanded" [title]="title" (expandedChange)="expandedChange.emit($event)">
  <fieldset class="personal-information" [formGroup]="passengerGroup">
    <legend class="personal-information__legend">{{ title }}</legend>

    <div class="personal-information__grid">
      <label class="personal-information__field">
        <span>{{ i18n.translate(textKeys.passengers.personalInformation.firstName) }}</span>
        <input type="text" formControlName="firstName" autocomplete="given-name" />
        @if (hasError('firstName')) {
          <small>{{ i18n.translate(textKeys.passengers.personalInformation.requiredError) }}</small>
        }
      </label>

      <label class="personal-information__field">
        <span>{{ i18n.translate(textKeys.passengers.personalInformation.lastName) }}</span>
        <input type="text" formControlName="lastName" autocomplete="family-name" />
        @if (hasError('lastName')) {
          <small>{{ i18n.translate(textKeys.passengers.personalInformation.requiredError) }}</small>
        }
      </label>

      <label class="personal-information__field">
        <span>{{ i18n.translate(textKeys.passengers.personalInformation.documentType) }}</span>
        <select formControlName="documentType">
          <option value="CC">
            {{ i18n.translate(textKeys.passengers.personalInformation.documentTypeCc) }}
          </option>
          <option value="CE">
            {{ i18n.translate(textKeys.passengers.personalInformation.documentTypeCe) }}
          </option>
          <option value="PA">
            {{ i18n.translate(textKeys.passengers.personalInformation.documentTypePassport) }}
          </option>
          <option value="TI">
            {{ i18n.translate(textKeys.passengers.personalInformation.documentTypeTi) }}
          </option>
        </select>
      </label>

      <label class="personal-information__field">
        <span>{{ i18n.translate(textKeys.passengers.personalInformation.documentNumber) }}</span>
        <input type="text" formControlName="documentNumber" autocomplete="off" />
        @if (hasError('documentNumber')) {
          <small>{{ i18n.translate(textKeys.passengers.personalInformation.requiredError) }}</small>
        }
      </label>

      <label class="personal-information__field">
        <span>{{ i18n.translate(textKeys.passengers.personalInformation.birthDate) }}</span>
        <input type="date" formControlName="birthDate" />
        @if (hasError('birthDate')) {
          <small>{{ i18n.translate(textKeys.passengers.personalInformation.requiredError) }}</small>
        }
      </label>
    </div>

    <div class="personal-information__actions">
      <ds-button [config]="nextButtonConfig()" (buttonClicked)="requestNext()" />
    </div>
  </fieldset>
</ds-expansion-panel>
